* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
button {
  outline: none;
  cursor: pointer;
}

.start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
  background-image: url(./pexels-sharon-mccutcheon-1148496.jpg);
  background-size: cover;
  border: 10px solid white;
  background-repeat: no-repeat;
}
.title {
  border: 5px solid white;
  color: white;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 0 20px white;
  background-color: black;
}
.categories,
.levels {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.category,
.level {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.activeBtn {
  background-color: green;
  box-shadow: 0 0 20px green;
  color: white;
  transform: scale(1.2);
}
.level:nth-child(1) {
  border-color: green;
  color: green;
  box-shadow: 2px 2px 10px green;
}
.level:nth-child(1).activeLevel {
  background-color: green;
  color: black;
  transform: scale(1.2);
}
.level:nth-child(2) {
  border-color: yellow;
  color: yellow;
  box-shadow: 2px 2px 10px yellow;
}
.level:nth-child(2).activeLevel {
  background-color: yellow;
  transform: scale(1.2);
  color: black;
}
.level:nth-child(3) {
  color: red;
  border-color: red;
  box-shadow: 2px 2px 10px red;
}
.level:nth-child(3).activeLevel {
  background-color: red;
  transform: scale(1.2);
  color: black;
}
.startBtn {
  padding: 10px 40px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 30%;
  box-shadow: 2px 2px 20px blue;
  animation: btnAnimation 2s linear both infinite;
}

.content {
  width: 100vw;
  height: 100vh;
  display: none;
  position: relative;
  flex-wrap: wrap;
}
.image {
  position: absolute;
  z-index: -1;
}
.cards {
  position: absolute;
  z-index: 100;

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.easy {
  flex-basis: 22%;
  max-height: 25vh;
  flex-grow: 1;
  border: 2px solid white;
}
.medium {
  flex-basis: 22%;
  height: 16.66vh;
  flex-grow: 1;
  border: 2px solid white;
}
.hard {
  flex-basis: 15%;
  height: 16.66vh;
  flex-grow: 1;
  border: 2px solid white;
}
.unactive {
  background-color: transparent !important;
  border-style: none;
}
.clicked {
  background-color: gray !important;
}

.image {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.finishMessage {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1000;
}
.finishMessage--unactive {
  display: none;
}
.gratz {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
  color: yellow;
}
.timeShow {
  font-size: 20px;
  color: white;
  margin: 20px;
}
.again {
  border: 2px solid black;
  box-shadow: 0 0 20px blue;
  background-color: blue;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

@keyframes btnAnimation {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 720px) {
  .title {
    font-size: 60px;
    padding: 20px 40px;
  }
  .category,
  .level {
    font-size: 40px;
  }
  .startBtn {
    font-size: 50px;
  }
  .gratz {
    font-size: 55px;
  }
  .timeShow {
    font-size: 40px;
  }
  .again {
    padding: 20px;
    font-size: 25px;
  }
}
