* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  border: 5px solid black;
  padding: 10px;
  border-radius: 30% 10%;
}
.categories,
.levels {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.category,
.level {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: white;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.activeBtn {
  background-color: green;
  box-shadow: 0 0 20px green;
  color: white;
  transform: scale(1.2);
}
.level:nth-child(1) {
  border-color: green;
  box-shadow: 2px 2px 10px green;
}
.level:nth-child(1).activeLevel {
  background-color: green;
  transform: scale(1.2);
}
.level:nth-child(2) {
  border-color: yellow;
  box-shadow: 2px 2px 10px yellow;
}
.level:nth-child(2).activeLevel {
  background-color: yellow;
  transform: scale(1.2);
}
.level:nth-child(3) {
  border-color: red;
  box-shadow: 2px 2px 10px red;
}
.level:nth-child(3).activeLevel {
  background-color: red;
  transform: scale(1.2);
}
.startBtn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 2px 2px 20px blue;
}
.content {
  display: none;
}
.image {
  width: 100%;
  height: 100%;
  background-size: contain;
}
